@use '../global' as *;
@use '../colors';

//.content {
//  width: $content-width;
//  display: flex;
//  align-items: center;
//  margin: auto;
//  padding: 0 104px;
//  background-color: red;
//}

.mainContent {
  height: 808px;
  background-image: url('../../public/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    background-image: url('../../public/overlay.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 808px;
  }
}

.actionBlock {
  @include content;

  position: relative;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .description {
    width: 50%;
    color: colors.$white;
    max-width: 500px;

    .paragraph {
      font-size: 16px;
    }

    .phone {
      font-weight: 700;
      font-size: 32px;
    }
  }

  .buttonBlock {
    max-width: 255px;
    margin-top: 30px;
  }

  .button {
    font-weight: 600;
  }
}

.footer {
  background: colors.$default !important;
  color: colors.$white !important;

  .content {
    @include content;
    text-align: center;
  }
}

.formContainer {
  width: 50%;
  max-width: 410px;
}